@model WhatPetASPC.Models.PetType

@{
    ViewBag.Title = "ShowImage";
}
@using MvcApplication8.Models

<div>
    <h4>@Html.DisplayFor(modelItem => Model.TypeName)</h4>
    @{String Image = ("../../Content/Images/pets/" + Model.PetImage);}
    @Html.Image(Image, Image, "")
</div>
