@model WhatPetASPC.Models.CostCategories
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>CostCategories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CostBracket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostBracket)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>