@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <h1>WhatPet</h1>
        <p class="lead">WhatPet is a service to help people find the ideal pet and then look after them properly.</p>
        <img src="~/Content/Images/HomePageImage.png" alt="Home Page Image" />
    </div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
</div>